/* Navbar.css */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0073e6;
    color: white;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
  }
  
  .logo-img {
    width: 100px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px;
  }
  

  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #ffeb3b;
  }
  